<div class="container">
<nav class="navbar navbar-dark bg-dark justify-content-center">
    <ul class="nav justify-content-center">
        <li>
          <button class="btn btn-danger btn-lg" [routerLink]="['/helloname']">
            HelloName
          </button>
        </li>
        <li>
            <button class="btn btn-danger btn-lg" [routerLink]="['/calculator']">
                Calculator
            </button>
        </li>
        <li>
          <button class="btn btn-danger btn-lg" [routerLink]="['/transactions']">
            Bank Transactions
          </button>
        </li>
      
    </ul>
</nav>
</div>
<router-outlet></router-outlet>





